.arrow_top {
	width: 18px;
	display: inline-block;
	vertical-align: -3px;
	padding: 0 6px;
}

tbody tr td.el-table_1_column_2 {
	color: #007aff;
}

.el-table {
	color: #757575;
}

.el-table__sripted {
	background-color: rgb(223, 242, 240);
}

.el-table--striped .el-table__body tr:nth-child(2n) td {
	background: rgb(223, 242, 240);
}

.el-table th>.cell {
	line-height: 16px;
}

.el-table .cell {
	line-height: 16px;
}

.el-table .cell,
.el-table th>div {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
}

.el-table th {
	background-color: #7fcac3;
}

.el-table__footer-wrapper thead div,
.el-table__header-wrapper thead div {
	background-color: #7fcac3;
}

.el-table .caret-wrapper,
.el-table th>.cell {
	background-color: #7fcac3;
}

.el-pagination {
	padding: 10px 2px;
}

.el-pager li {
	padding: 0 2px;
}

.el-pagination__total {
	margin: 0 3px;
}

[v-cloak] {
	display: none;
}
